#box-1{
    background-color: #FFE3E3;
    border: 3px #FFBCBC solid;
}

#box-2{
    background-color: #DEEDF0;
    border-bottom: #93B5C6 solid 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#box-3{
    /* background-image: url('/img/aurora.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    background: url("/img/aurora.jpg") no-repeat center center/cover;
    height: 300px;
    width: 600px;
    color: white;
}

#box-4{
    background: url("/img/street.jpg") no-repeat;
    background-attachment: fixed;
    color: white;
}